*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    width: 960px;
}

/*--------Top-Bar---------*/

.top-bar{
    background-color: #2e2e2e;
    width: 100%;
    height: 60px;
}
.top-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.signup ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.signup li{
    float: left;
}

.signup li a{
    display: block;
    color: #9f9f9f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #9f9f9f;
}







/*-----------SLIDER-----------*/

.slider .container{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 10px 20px 10px 20px;
}

.text-box{
    width: 43%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}

.slider button{
    background-color: #0099ff;
    border-radius: 6px;
    border: none;
    width: 126px;
    height: 31px;
    color: white;
}

.slider-image{
    width: 550px;
    height: 440px;
}

.text-box h1{
    font-weight: normal;
    margin-bottom: 18px;
}

.text-box p{
    margin-bottom: 18px;
}
















/*--------------INTRO-------------*/

.intro .container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.intro-left {
    display: flex;
    width: 49%;
}

.intro-right {
    display: flex;
    width: 49%;
    justify-content: space-between;
}


.intro-left img {
    height: 100%;
    width: 100%;
}

.intro-column {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
}

.intro-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    text-align: center;
    justify-content: center;
}


.intro-box-item {
    display: flex;
}

.intro-box-item h3 {
    margin: auto;
    margin-top: 2px;
}

.intro-box h3{
    color: #0099ff;
    font-weight: normal;
} 

.inner-box {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #666666;
    width: 85px;
    height: 80px;
    position: relative;
}

.inner-box p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/*--------SHOUTOUT----------*/
.shoutout .container {
    display: flex;
    /* border: 1px solid red; */
    height: 120px;
    display: flex;
    background-color: #e0e0e0;
    border-left: 10px solid #0099ff;
    margin-top: 40px;
    margin-bottom: 40px; 
    /* position: relative;   
    /* justify-content: space-between; */ 
}

.shoutout-left {
    display: flex;
    /* border: 1px solid green; */
    width: 70%;
}

.shoutout-right {
    display: flex;
    /* border: 1px solid yellow; */
    width: 30%;
}

.shoutout-right button {
    display: flex;
    margin: auto;
    width: 280px;
    height: 58px;
    background-color: #0099ff;
    color: white;
    font-size: 1.3em;
    border-radius: 7px;
    border: none;
    margin-right: 40px;
    float: right;
    display: table-cell;
    /* top: 50%; */
}

.shoutout-items button:hover {
    /* background-color: #119ffd; */
    background-color: red;
}


.shoutout-content {
    margin: auto;
    margin-left: 50px;
}





/*-------info----------*/
.info{
    background-color: #1a1a1a;
    padding-top: 56px;
    padding-bottom: 56px;
    font-family: Arial, Helvetica, sans-serif;
}

.info-items{
    display: flex;
    flex-wrap: nowrap;
}

.info-item{
    width: 215px;
    height: 320px;
    margin-right: 15px;
    padding-left: 0;
}

.info-item-text{
    color: #666666;
}
.info-item-text a{
    text-decoration: none;
    color: #0099ff;
}

.info-item-blog a{
    text-decoration: none;
    color: #0099ff;
}

.info-item-blog h5{
    color: #666666;
}

.info-item-blog span{
    color: #666666;
}

.info-item-blog h6{
    color: #666666;
}

.info-item-blog p{
    color: #666666;
}

.info-item-blog small{
    color: #666666;
}

.info-item h4{
    color: white;
}

.info-item-image{
    width: 215px;
    height: 90px;
    border: 1px solid #666666;
    margin-bottom: 5px;
}

/* links */
.info-item-links ul{
    margin-left: 16px;
    list-style-type: square;
}

.info-item-links li{
    border-bottom: 1px solid #232323;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.info-item-links a{
    text-decoration: none;
    color: #0099ff;
}
















/*----------contact----------*/
.info-item .last {
    margin-right: 0;
}

.info-item-contact input {
    width: 100%;
    height: 2.3em;
    border-radius: 10px; 
    background-color: #222222;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-bottom: 0.7em;
}

.info-item-contact textarea {
    width: 100%;
    border-radius: 10px; 
    background-color: #222222;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-bottom: 0.4em;
    resize: none;
}

.info-item-contact button {
    width: 6em;
    height: 2em;
    background-color: #0099ff;
    font-weight: bold;
    font-size: large;
    border-radius: 6px;
    box-shadow: none;
    text-decoration: none;
    border: none;
    color: white;
}



/*-------Footer---------*/
.footer{
    /* width: 100%; */
    height: 60px;
    background-color: #222222;
    color: #666666;
    padding-left: 3vw;
    padding-right: 3vw;
    top: 50%;
}

.footer .footer-left{
    text-align: left;
    float: left;
    margin: 0;
    padding-top: 1em;
}

.footer .footer-right{
    text-align: right;
    float: right;
    margin: 0;
    padding-top: 1em;
}